    <div class="center jumbotron">
    <% provide(:title, "Home") %>

    <h1>Todo App</h1>
    <p>
      This is the home page for the Todo application.
    </p>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

    </div>
  