<footer class="footer">
  <small>
    The App designed by Shrinkhala R Mishra
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contact_path %></li>
    </ul>
  </nav>
</footer>